html,
body {
   font-family: "Rimouski";
}

body {
   box-sizing: border-box;
   margin: 0 auto;
   background-color: #293251;
}

.container {
   width: 300px;  
   background-color: #FFF;
   display: block;
   margin: 0 auto;
   border-radius: 10px;
   padding-bottom : 120px;
   text-align: center;

}

.title {
   text-align: center;
   padding: 15px;
   margin: 0 auto;
   font-size: 1em;
   color: #293251;
   border-radius: 10px 10px 0 0
}

.cities {
   text-align: center;
   padding: 15px;
   margin: 0 auto;
   font-size: 1em;
   color: #293251;
}

.out {
   width: 300px;
   height: 260px;
   background-color: #F4F9FF;
   font-size: 1rem;
}

.out-temperature {
   color: #293251;
   font-size: 3em;
   padding: 0;
   margin: 0;
   font-size: 4em;
}

.out-cloudiness {
   margin-bottom: 10px;
   color: #293251;
   font-size: 1.2em;
}

.out-wind {
   margin-bottom: 10px;
   color: #293251;
   font-size: 1.2em;
}
.out-humidity {
   margin-bottom: 10px;
   color: #293251;
   font-size: 1.2em;
}
.out-pressure {
   margin-bottom: 10px;
   color: #293251;
   font-size: 1.2em;
}

.out-city {
   margin-bottom: 10px;
   color: #293251;
   font-size: 2em;
}

.cities-select {
   border-radius: 3px;
   color: #293251;
   font-size: 1.2em;
}